<app-header></app-header>
<div class="container-md">
  <div class="row text-center mt-3 fs-4 border-bottom">
    <p class="col-12">Photos</p>
  </div>
  <div *ngIf="albumPhotos; else falseBlock" class="row mt-3 justify-content-center">
      <div *ngFor="let photo of albumPhotos" class="containerImg mb-4 col-8 col-sm-8 col-md-4 col-lg-3 position-relative">
        <img class="customImg w-100" src={{photo.url}} alt="album">
        <div class="layer d-flex justify-content-center align-items-center">
          <p class="alert alert-info w-50">{{photo.title}}</p>
        </div>
      </div>
  </div>
</div>

<ng-template #falseBlock>
  <div class="container">
    <div class="dash uno"></div>
    <div class="dash dos"></div>
    <div class="dash tres"></div>
    <div class="dash cuatro"></div>
  </div>
</ng-template>
