.user {
  color: #11d51f;
  position: relative;
  transition: all 0.2s;
}
.user::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -9px;
  left: 0;
  background-color: #11d51f;
}
a.nav-link.active:hover {
  color: #11d51f;
  cursor: pointer;
}
.fa-magnifying-glass {
  color: #11d51f;
  transition: all 0.2s;
  font-weight: 600;
}

.fa-magnifying-glass:hover {
  transform: scale(1.2);
  cursor: pointer;
}

li.nav-item {
  padding-left: 10px;
}

.fa-right-from-bracket{
  transition: all 0.2s;
}
.fa-right-from-bracket:hover{
  transform: scale(1.1);
  cursor: pointer;
}
