<!-- <div class="card customEditImg" style="width: 18rem;">
  <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_1280.jpg" class="card-img-top" alt="album">
  <div class="card-body customEditBody">
    <p class="card-text fs-5 text-center">No. of Photos: 15</p>
  </div>
</div> -->
<div class="customEditImg rounded" style="width: 18rem;background-size: cover;">
  <img src="assets/Images/eberhard-grossgasteiger-SMyqIcE2NXs-unsplash.jpg" class="rounded card-img-top" alt="album" />
  <div class="d-flex justify-content-between align-items-center rectangleAfterImg rounded" style="height: 2.2rem;">
    <span class="ms-2" style="font-size: 13px;">{{childComponent?.title}}</span>
    <i class="bi bi-arrow-right-circle-fill me-2 fs-5"></i>
  </div>
</div>
